# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ben\Documents\GitHub\LeetCodeExamples\Algorithms\0034. Find First and Last Position of Element in Sorted Array\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
